@import '../../../styles/colorsCssVariables.css';

.credentials-parent-container {
    height: calc(100vh - 0px);
    background: var(--white-color);
    display: flex;
    margin: 0;
    padding: 0;
}

.credentials-section-one {
    height: calc(100vh -0px);
    width: 65%;
    box-sizing: border-box;
    padding: 5px 20px 5px 10px;  
}

.credentials-section-two {
    height: calc(100vh - 0px);
    width: 35%;
    cursor: pointer;
}

.credentials-random-poster {
    height: calc(100vh - 0px);
    width: 35%;
    position: absolute;
}
.credentials-random-poster-bottom-card{
    height: 100px;
    position: relative;
    margin-top:calc(100vh - 103px) ;
    background: rgba(0,0,0,0.35);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(0,0,0,0.175);
    padding: 0px 20px 0px 20px;
}

.credentials-random-poster-bottom-card-title{
    font-family: var(--font2);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--white-color);
    margin: 0;
}
.credentials-random-poster-bottom-card-ratting{
    margin: 5px 0 5px 0;
}
.credentials-random-poster-bottom-card-actors-list{
    font-family: var(--font1);
    color: var(--white-color);
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}