@import '../../../styles/fontsCssVariables.css';
@import '../../../styles/colorsCssVariables.css';

.SignupForm-parent-container,
.SigninForm-parent-container {
    height: 100%;
}

.signup-form-inner-container {
    padding: 15px 200px 0 200px;
    box-sizing: border-box;
}

.signin-form-inner-container {
    padding: 15px 20px 0 20px;
    width: 390px;
    margin: calc(100vh - 80vh) auto 0 auto;
}

.inner-heading-text {
    margin: 0;
    padding: 0;
    font-family: var(--font3);
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--deep-black-color);
}

.inner-heading-sub-text {
    margin: 0;
    padding: 0;
    color: var(--sub-text-color);
    font-family: var(--font2);
    font-size: 13px;
    letter-spacing: 1px;
}

.signup-form-section {
    box-sizing: border-box;
    padding-top: 15px;
}

.signup-button {
    height: 40px;
    width: calc(100% - 0px);
    margin-top: 15px;
    background: var(--deep-black-color);
    font-family: var(--font2);
    color: var(--white-color);
    border: 1px solid var(--deep-black-color);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 10px;
    cursor: pointer;
}

.signup-button:active {
    border: 1px solid var(--light-black-color1);
    background: var(--light-black-color1);
}

.disabled-signup-button {
    height: 40px;
    width: calc(100% - 0px);
    margin-top: 15px;
    font-family: var(--font2);
    color: var(--text-black-color1);
    border: 0;
    background: var(--button-disabled-color);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 10px;
    cursor: not-allowed;
}

.signup-bottom-text {
    padding: 0;
    margin-top: 5px;
    font-family: var(--font2);
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-align: right;
}

.signup-bottom-text-span {
    color: var(--default-blue-color);
    cursor: pointer;
}